PricerSolution/MyPricerClientWPF/Connected Services/MyPricerService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyPricerWCFLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyPricerWCFLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BondWcf">
    <xs:sequence>
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Maturity" type="xs:int" />
      <xs:element minOccurs="0" name="Nominal" type="xs:double" />
      <xs:element minOccurs="0" name="Periodicity" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondWcf" nillable="true" type="tns:BondWcf" />
</xs:schema>