PricerSolution/MyPricerClientWPF/Connected Services/MyPricerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyPricerWCFLibrary" />
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Compute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyPricerWCFLibrary" minOccurs="0" name="bond" nillable="true" type="q1:BondWcf" />
        <xs:element minOccurs="0" name="pricerDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComputeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeToBondLastDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyPricerWCFLibrary" minOccurs="0" name="bond" nillable="true" type="q2:BondWcf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeToBondLastDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ComputeToBondLastDateResult" nillable="true" type="q3:ArrayOfKeyValueOfdateTimedouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>