PricerSolution/MyPricerClientWPF/Connected Services/MyPricerService/MyPricerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyPricerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMyPricerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyPricerWCFLibrary" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyPricerService_Compute_InputMessage">
    <wsdl:part name="parameters" element="tns:Compute" />
  </wsdl:message>
  <wsdl:message name="IMyPricerService_Compute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPricerService_ComputeToBondLastDate_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeToBondLastDate" />
  </wsdl:message>
  <wsdl:message name="IMyPricerService_ComputeToBondLastDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeToBondLastDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyPricerService">
    <wsdl:operation name="Compute">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPricerService/Compute" message="tns:IMyPricerService_Compute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPricerService/ComputeResponse" message="tns:IMyPricerService_Compute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeToBondLastDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPricerService/ComputeToBondLastDate" message="tns:IMyPricerService_ComputeToBondLastDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPricerService/ComputeToBondLastDateResponse" message="tns:IMyPricerService_ComputeToBondLastDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMyPricerService" type="tns:IMyPricerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMyPricerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Compute">
      <soap12:operation soapAction="http://tempuri.org/IMyPricerService/Compute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeToBondLastDate">
      <soap12:operation soapAction="http://tempuri.org/IMyPricerService/ComputeToBondLastDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyPricerService">
    <wsdl:port name="NetTcpBinding_IMyPricerService" binding="tns:NetTcpBinding_IMyPricerService">
      <soap12:address location="net.tcp://localhost:8743/MyPricerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8743/MyPricerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>sahobau.dasilva@acensi.local</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>